# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
tienda-backend
tienda-server

# Test binary
*.test

# Output
*.out

# Go workspace file
go.work

# Environment
.env

# Data & Uploads
/data/
/uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
